@using ShopFilip.IdentityModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model ShopFilip.IdentityModels.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
@section CssLinks {
    <link rel="stylesheet" type="text/css" href="/css/Login-Register-Edit.css">
}
<div class="row">
    <div class="col-md-4 Login">
        <h2>Zmień swoje dane</h2>
        <h5>Aby zmienć swoje dane wpisz nowe kliknij zapisz i Gotowe! :)</h5>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="UserName" class="control-label">Nazwa użytkownika</label>
                <input asp-for="UserName" autocomplete="off" class="form-control" value="@Model.UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Name" class="control-label">Imie</label>
                <input asp-for="Name" id="text-to-upper" autocomplete="off" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Surname" class="control-label">Nazwisko</label>
                <input asp-for="Surname" id="text-to-upper" autocomplete="off" class="form-control" value="@Model.Surname" />
                <span asp-validation-for="Surname"></span>
            </div>
            <div>
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" autocomplete="off" class="form-control" value="@Model.Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Town" class="control-label">Miasto</label>
                <input asp-for="Town" autocomplete="off" class="form-control" value="@Model.Town" />
                <span asp-validation-for="Town"></span>
            </div>
            <div>
                <label asp-for="Street" class="control-label">Ulica</label>
                <input asp-for="Street" autocomplete="off" class="form-control" value="@Model.Street" />
                <span asp-validation-for="Street"></span>
            </div>
            <div>
                <label asp-for="PostalCode" class="control-label">Kod-pocztowy</label>
                <input asp-for="PostalCode" id="postalcode" maxlength="6" class="form-control" value="@Model.PostalCode" />
                <span asp-validation-for="PostalCode"></span>
            </div>
            <div>
                <label asp-for="PhoneNumber" class="control-label">Numer telefonu</label>
                <input asp-for="PhoneNumber" autocomplete="off" id="phone-number" maxlength="11" class="form-control" value="@Model.PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="buttons-edit">
                <input type="submit" class="submit-edit btn btn-default" value="Nie zmieniaj danych" onclick="goBack()" style=" background-color: red;" />
                <input type="submit" class="submit-edit btn btn-default" value="Zmień i zapisz dane." />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="https://unpkg.com/imask"></script>
    <script src="~/js/CustomJavaScripts.js"></script>
    <script src="~/js/InputSpecialFill.js"></script>
}
