@using ShopFilip.IdentityModels
@using Microsoft.AspNetCore.Identity
@model ShopFilip.IdentityModels.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
@section CssLinks {
    <link rel="stylesheet" type="text/css" href="~/css/Manage-Account.css">
}
<div class="container" style="display:flex">
    <div class="col-md-6" id="manage-form">
        <h1 style="text-align:center">Dostępne akcje</h1>
        <form id="manage-form" method="get" asp-controller="Account" asp-action="Edit" asp-route-userId="@UserManager.GetUserId(User)">
            <button class="btn button-manage-account" type="submit">
                Edytuj dane ✏️
            </button>
        </form>
        <form id="manage-form" method="get" asp-controller="Account" asp-action="UserOrders" asp-route-id="@UserManager.GetUserId(User)">
            <button class="btn button-manage-account" type="submit">
                Twoje zamówienia! 🎁
            </button>
        </form>
        @if (ViewBag.Role == "Admin")
        {
            <form id="manage-form" method="get" asp-controller="Admin" asp-action="Index">
                <button class="btn button-manage-account" type="submit">
                    Panel Admina
                </button>
            </form>
        }
    </div>
    <div class="col-md-6" id="manage-form" style="text-align:left">
        <h1>Dane osobowe</h1>
        <h3 style="text-align:left">Imie: @Model.Name</h3>
        <h3 style="text-align:left">Nazwisko: @Model.Surname</h3>
        <h3 style="text-align:left">Miasto: @Model.Town</h3>
        <h3 style="text-align:left">Ulica: @Model.Street</h3>
        <h3 style="text-align:left">Kod pocztowy: @Model.PostalCode</h3>
        <h3 style="text-align:left">Telefon: @Model.PhoneNumber</h3>
    </div>
</div>

