@model IEnumerable<ShopFilip.Models.Order>
@{
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
<div class="container">
    @if (Model.Count() == 0)
    {
        <div style="text-align:center; top: 50%; padding-top:20%;">
            <h1>Nie masz zamówień 😞</h1>
            <div class="submit">
                <input type="submit" value="Wróć" class="btn btn-default" onclick="goBack()" />
            </div>
        </div>
    }
    else
    {
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Informacje</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.OrderId
                        </td>
                        <td>
                            @if (item.Products.Count() == 0 || item.Products == null)
                            {
                                <span>Brak produktu</span>
                            }
                            else
                            {
                                @foreach (var itemo in item.Products)
                                {
                                    <span>@itemo.Product.Name</span>
                                    <span>@itemo.Quantity</span>
                                    <span>@itemo.Size.ToString()</span>
                                    <img src="@itemo.Product.Photos[0].PhotoPath" width="100" />
                                }
                            }

                        </td>
                        <td>
                            @item.DateOfOrder
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section Scripts {
    <script src="~/js/CustomJavaScripts.js"></script>
}
