@model ShopFilip.Models.Product
@section CssLinks {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Add-edit-product.css">
}
@{
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
<div class="container">
    <h1>Edytuj</h1>
    <form>
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden id="idOfProoduct" value="@Model.Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Nazwa</label>
                    <input asp-for="@Model.Name" id="name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Cena w zł</label>
                    <input asp-for="Price" id="price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="container">
                        Mężczyzna
                        @if (Model.Gender == "man")
                        {
                            <input type="radio" checked="checked" name="gender" value="man">
                        }
                        else
                        {
                            <input type="radio" name="gender" value="man">
                        }
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Kobieta
                        @if (Model.Gender == "woman")
                        {
                            <input type="radio" checked="checked" name="gender" value="woman">
                        }
                        else
                        {
                            <input type="radio" name="gender" value="woman">
                        }
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group">
                    <h4>Rozmiary</h4>
                    <label class="container">
                        M
                        @{bool a = false;}
                        @foreach (var item in Model.ProductAtribute)
                        {
                            @if (item.Value.Equals("M"))
                            {
                                <input class="size-container" type="checkbox" checked="checked" name="size" value="M">
                                <input min="0" type="number" name="quantity" value="@item.Quantity">
                                <span class="checkmark"></span>
                                a = true;
                            }
                        }
                        @if (a == false)
                        {
                            <input class="size-container" type="checkbox" name="size" value="M">
                            <input style="display:none" min="0" type="number" name="quantity">
                            <span class="checkmark"></span>
                        }
                    </label>
                    <label class="container">
                        L
                        @{bool b = false;}
                        @foreach (var item in Model.ProductAtribute)
                        {
                            @if (item.Value.Equals("L"))
                            {
                                <input class="size-container" type="checkbox" checked="checked" name="size" value="L">
                                <input min="0" type="number" name="quantity" value="@item.Quantity">
                                <span class="checkmark"></span>
                                b = true;
                            }
                        }
                        @if (b == false)
                        {
                            <input class="size-container" type="checkbox" name="size" value="L">
                            <input style="display:none" min="0" type="number" name="quantity">
                            <span class="checkmark"></span>
                        }
                    </label>
                    <label class="container">
                        XL
                        @{bool c = false;}
                        @foreach (var item in Model.ProductAtribute)
                        {
                            @if (item.Value.Equals("XL"))
                            {
                                <input class="size-container" type="checkbox" checked="checked" name="size" value="XL">
                                <input min="0" type="number" name="quantity" value="@item.Quantity">
                                <span class="checkmark"></span>
                                c = true;
                            }
                        }
                        @if (c == false)
                        {
                            <input class="size-container" type="checkbox" name="size" value="XL">
                            <input style="display:none" min="0" type="number" name="quantity">
                            <span class="checkmark"></span>
                        }
                    </label>
                    <label class="container">
                        XXL
                        @{bool d = false;}
                        @foreach (var item in Model.ProductAtribute)
                        {
                            @if (item.Value.Equals("XXL"))
                            {
                                <input class="size-container" type="checkbox" checked="checked" name="size" value="XXL">
                                <input min="0" type="number" name="quantity" value="@item.Quantity">
                                <span class="checkmark"></span>
                                d = true;
                            }
                        }
                        @if (d == false)
                        {
                            <input class="size-container" type="checkbox" name="size" value="XXL">
                            <input style="display:none" min="0" type="number" name="quantity">
                            <span class="checkmark"></span>
                        }
                    </label>
                </div>

                <div class="form-group">
                    <h4>Grupa</h4>
                    <label class="container">
                        @if (Model.Group == "Koszule")
                        {
                            <input type="radio" checked="checked" name="group" value="Koszule">
                        }
                        else
                        {
                            <input type="radio" name="group" value="Koszule">
                        }
                        Koszule
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        @if (Model.Group == "Spodnie")
                        {
                            <input type="radio" checked="checked" name="group" value="Spodnie">
                        }
                        else
                        {
                            <input type="radio" name="group" value="Spodnie">
                        }
                        Spodnie
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        @if (Model.Group == "T-Shirt")
                        {
                            <input type="radio" checked="checked" name="group" value="T-Shirt">
                        }
                        else
                        {
                            <input type="radio" name="group" value="T-Shirt">
                        }
                        T-Shirt
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        @if (Model.Group == "Kurtki")
                        {
                            <input type="radio" checked="checked" name="group" value="Kurtki">
                        }
                        else
                        {
                            <input type="radio" name="group" value="Kurtki">
                        }
                        Kurtki
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Opis:</label>
                    <textarea asp-for="Description" id="description" class="form-control" rows="5" id="comment"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="label" for="gallery-photo-add">Dodaj zdjęcia</label>
                    <input type="file" name="pic" multiple id="gallery-photo-add">

                    <div class="gallery" id="gal">
                        @foreach (var item in Model.Photos)
                        {
                            <div id='photo'>
                                <input id='x' type='button' value='X'><img name='photo-of-product' width='100' id='photo-min-product' src="@item.Value">
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <input asp-for="Table" name="tbl" id="table-photo-add" value="@Model.Table" hidden>
                    <div id="table-added">
                        @if (Model.Table != "")
                        {
                            <p>Dodano tabele: </p>@Model.Table
                        }
                    </div>
                </div>
                <p><a class="button-style" href="#ex1" id="add-table" rel="modal:open">Zmień Tabelę</a></p>
            </div>
            <div class="form-group">
            </div>
        </div>
    </form>
    <div id="ex1" class="modal">
        <p>Wybierz już istniejącą tabele</p>
        <div id="photos">

        </div>
        <a class="button-style" href="#" rel="modal:close" id="button-add-table">Dodaj tabele</a>
        <label class="label" for="add-new-table">Dodaj nową tabele</label>
        <input type="file" name="pic" id="add-new-table">
    </div>
    <div style="display:flex; width:100%">
        <div style="width:50%;padding-top:10px;display:flex;justify-content:flex-start">
            <button class="btn" id="cancel" type="submit" onclick="goBack()">
                Anuluj
            </button>
        </div>
        <div style="width:50%;padding-top:10px;display:flex;justify-content:flex-end;">
            <input type="button" value="Zapisz" id="submit-form" class="btn btn-default" />
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-set-center">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="text-align:center">Zaktualizowano pomyślnie!</p>
            </div>
            <button type="button" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-default" data-dismiss="modal">Zamknij i zapisz</button>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/CustomJavaScripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/AddEditProduct.js"></script>
    <script src="~/js/EditProduct.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
}