@{
    Layout = "_Layout_Dashboard";
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
@model IOrderedEnumerable<ShopFilip.Models.Order>
@using ShopFilip.Helpers;
<div class="container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Dane kupującego</th>
                <th>Produkty</th>
                <th>Data zamówienia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span> <b>Mail kupującego:</b></span><br>
                        <span> @item.ApplicationUser.Email</span><br>
                        <span><b>Id zamówienia:</b></span><br>
                        <span style="font-size:10px" id="orderId">@item.OrderId</span><br>
                    </td>
                    <td>
                        <select name="example" class="status" id="combobox">
                            @if (item.Status == Status.Paid)
                            {
                                <option selected="selected" value="@item.Status">@item.Status.ToString()</option>
                                <option value="SUCCESS">SUCCESS</option>
                                <option value="Sent">Sent</option>
                                <option value="Cancel">Cancel</option>
                            }
                            else if (item.Status == Status.Paid)
                            {
                                <option selected="selected" value="@item.Status">@item.Status.ToString()</option>
                                <option value="Paid">Paid</option>
                                <option value="Sent">Sent</option>
                                <option value="Cancel">Cancel</option>
                            }
                            else if (item.Status == Status.Paid)
                            {
                                <option selected="selected" value="@item.Status">@item.Status.ToString()</option>
                                <option value="SUCCESS">SUCCESS</option>
                                <option value="Paid">Paid</option>
                                <option value="Cancel">Cancel</option>
                            }
                            else if (item.Status == Status.Paid)
                            {
                                <option selected="selected" value="@item.Status">@item.Status.ToString()</option>
                                <option value="SUCCESS">SUCCESS</option>
                                <option value="Sent">Sent</option>
                                <option value="Paid">Paid</option>
                            }
                        </select>

                        @if (item.Products.Count() == 0 || item.Products == null)
                        {
                            <br /><span><b>Produkt: </b>Produkt już niedostępny</span><br />

                        }
                        else
                        {
                            @foreach (var itema in item.Products)
                            {
                                <br /><span><b>Produkt: </b>@itema.Product.Name </span><br />
                                <span><b>Ilość: </b>@itema.Quantity </span><img src="@itema.Product.Photos[0].PhotoPath" width="100" /><br>
                                <span><b>Kwota: </b>@itema.Product.Price zł</span><br>
                            }
                        }
                    </td>
                    <td>
                        @item.DateOfOrder
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/Orders.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
}