@{
    Layout = "_Layout_Dashboard";
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
@model IEnumerable<ShopFilip.Models.AllUsersProducts>
<div class="container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Dane kupującego</th>
                <th>Produkty</th>
                <th>Data zamówienia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var itemo in item.OrderProducts)
                    {
                        <td>
                            <span> <b>Mail kupującego:</b></span><br>
                            <span> @item.ApplicationUser.Email</span><br>
                            <span><b>Id zamówienia:</b></span><br>
                            <span style="font-size:10px" id="orderId">@itemo.OrderId</span><br>
                        </td>
                        <td>
                            <select name="example" class="status" id="combobox">
                                @if (itemo.OrderStatus == "Paid")
                                {
                                    <option selected="selected" value="@itemo.OrderStatus">@itemo.OrderStatus</option>
                                    <option value="SUCCESS">SUCCESS</option>
                                    <option value="Sent">Sent</option>
                                    <option value="Cancel">Cancel</option>
                                }
                                else if (itemo.OrderStatus == "SUCCESS")
                                {
                                    <option selected="selected" value="@itemo.OrderStatus">@itemo.OrderStatus</option>
                                    <option value="Paid">Paid</option>
                                    <option value="Sent">Sent</option>
                                    <option value="Cancel">Cancel</option>
                                }
                                else if (itemo.OrderStatus == "Sent")
                                {
                                    <option selected="selected" value="@itemo.OrderStatus">@itemo.OrderStatus</option>
                                    <option value="SUCCESS">SUCCESS</option>
                                    <option value="Paid">Paid</option>
                                    <option value="Cancel">Cancel</option>
                                }
                                else if (itemo.OrderStatus == "Cancel")
                                {
                                    <option selected="selected" value="@itemo.OrderStatus">@itemo.OrderStatus</option>
                                    <option value="SUCCESS">SUCCESS</option>
                                    <option value="Sent">Sent</option>
                                    <option value="Paid">Paid</option>
                                }
                            </select>

                            @foreach (var itema in itemo.PoductQuantityAtribute)
                            {
                                @if (itema.Product.Count() == 0 || itema.Product == null)
                                {
                                    <br /><span><b>Produkt: </b>Produkt już niedostępny</span><br />

                                }
                                else
                                {
                                    foreach (var product in itema.Product)
                                    {
                                        <br /><span><b>Produkt: </b>@product.Name </span><br />
                                        <span><b>Ilość: </b>@itema.Quantity </span><img src="@product.Photos[0].Value" width="100" /><br>
                                        <span><b>Kwota: </b>@product.Price zł</span><br>
                                    }
                                }
                            }
                        </td>
                    }
                    <td>
                        @item.OrderDate
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/Orders.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
}