@model ShopFilip.Models.ProductViewModel

<div class="productThumbnailContainer" data-productid="@Model.Id">
    <h4>@Model.Name</h4>
    <div class="image">
        <a href="@Url.Action("Product", "Product", new { id = Model.Id })">
            <img src="~/images/mały.jpg" class="img-rounded , img-responsive center-block" alt="Cinque Terre" width="304" height="236">
            <div class="overlay">
                <div class="info">Więcej infomacji</div>
            </div>
        </a>
    </div>
    <h5 class="text-center">Cena: @Model.Price</h5>
    <a href="@Url.Action("Product", "Product", new { id = Model.Id })" class="btn buy">KUP TERAZ</a>
</div>